{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h2>{{ project.name }}</h2>
  <hr>
  <section>
    Description:
    <p>{{ project.description }}</p>
  </section>
  <hr>
  <section>
    <p>Deadline: {{ project.deadline|date }}</p>
  </section>
  <hr>
  <section>
    <p>Team: <a href="{% url 'task_manager:team-detail' pk=project.team.id %}">{{ project.team }}</a></p>
  </section>
  <hr>
  <section>
  Tasks:
    <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Deadline</th>
        <th scope="col">Is completed</th>
        <th scope="col">Priority</th>
        <th scope="col">Task Type</th>
        <th scope="col">Workers No.</th>
      </tr>
    </thead>
      {% for task in project.tasks.all %}
        <tr>
          <td><a href="{% url 'task_manager:task-detail' pk=task.id %}">{{ task.name }}</a></td>

          {% if task.deadline %}
            <td>{{ task.deadline }}</td>
          {% else %}
            <td>-</td>
          {% endif %}

          {% if task.is_completed %}
            <td>&#10004;</td>
          {% else %}
            <td>&#10060;</td>
          {% endif %}

          <td>{{ task.priority }}</td>
          <td><a href="{% url 'task_manager:task_type-detail' pk=task.task_type.id %}">{{ task.task_type }}</a></td>
          <td>{{ task.assignees.count }}</td>
        </tr>
      {% endfor %}
    </table>
  </section>
{% endblock %}