{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h2>Teams:</h2>
  <ul>
    <hr>
    {% for team in object_list %}
      <li>
        <h3>{{ team.name }}:</h3>
        <ul>
          <li>
            <h4>Projects:</h4>
            <ul>
              {% if team.projects.all %}
                {% for project in team.projects.all %}
                  <li><a href="{% url 'task_manager:project-detail' pk=project.id %}">{{ project.name }}</a></li>
                {% endfor %}
              {% else %}
                <p>Team have no assigned projects.</p>
              {% endif %}
            </ul>
          </li>
          <li>
            <h4>Workers:</h4>
            <ul>
              {% if team.workers.all %}
                {% for worker in team.workers.all %}
                  <li><a href="{% url 'task_manager:worker-detail' pk=worker.id %}">{{ worker }}</a></li>
                {% endfor %}
              {% else %}
                <p>Team have no assigned workers.</p>
              {% endif %}
            </ul>
          </li>
        </ul>
      </li>
      <hr>
    {% endfor %}
  </ul>

{% endblock %}